 .top_div{             
       height: 50px;        
       margin: 10px auto;
       padding: 1px;
 }
 .row1 {
     float: left;
     padding-left: 10px;            
 }
 .row2 {
     float: right;
     padding-right: 10px;      
 }   